*{
    -fx-base-color-first: #d14334;
    -fx-base-color-second: #B6C8CF;
    -fx-base-color-third: #178FCC;
    -fx-base-color-fourth:#24599c;
    -fx-base-color-fifth:#1c2130;
    -fx-color-background: #ec9999;
    -fx-base-color-green:#75c48a;
    -fx-base-color-darkGreen:#0a6623;
}

/*Images*/
#imgLogo{
    -fx-image: url("../resources/SigeceUNA.png");
}
#imgUser{
    -fx-image: url("../resources/iconLogin.png");
}
#imgPassword{
    -fx-image: url("../resources/iconPassword.png");
}
#imgUserPhoto{
    -fx-image: url("../resources/photo.png");
}

/*Label*/
.label {
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}
#labelEnterEmail{
    -fx-font-size: 20px;
}
#lbl_expired {
    -fx-background-color: #FFCDD2;
    -fx-text-fill: #B71C1C;
    -fx-font-weight: bold;
    -fx-border-color: #B71C1C;
    -fx-border-width: 2px;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.boldlabel{
     -fx-font-weight: bold;
}

/*Date picker*/
.date-picker .spinner .text {
    -fx-font-size: 12px; /* Ajustar el tamaño de la fuente del encabezado (mes/año) */
}
.date-picker .button {
    -fx-font-size: 12px; /* Ajustar el tamaño de la fuente de los botones */
    -fx-pref-width: 25px; /* Ajustar el ancho de los botones */
    -fx-pref-height: 25px; /* Ajustar la altura de los botones */
}
.custom-date-picker .header {
    -fx-font-size: 20px; /* Ajustar el tamaño de la fuente del encabezado (mes/año) */
}
.custom-date-picker .button {
    -fx-font-size: 20px; /* Ajustar el tamaño de la fuente de los botones */
    -fx-pref-width: 50px; /* Ajustar el ancho de los botones */
    -fx-pref-height: 50px; /* Ajustar la altura de los botones */
}
.custom-date-picker .list-view {
    -fx-pref-width: 175; /* Ajustar el ancho de la lista desplegable */
}
.custom-date-picker .popup {
    -fx-pref-width: 200; /* Ajustar el ancho de la ventana emergente */
}
.custom-date-picker .day-cell {
    -fx-alignment: top-left; /* Alinear el número del día en la esquina superior izquierda */
    -fx-pref-width: 100;  /* Ajustar el ancho de las celdas del día */
    -fx-pref-height: 100; /* Ajustar la altura de las celdas del día */
}
.date-picker .day-cell:hover {
    -fx-background-color: lightblue; /* Cambiar el color al pasar el mouse */
}
/*background*/
.smoothbackground{
    -fx-background-color:-fx-base-color-second;
}
.smoothbackground2{
    -fx-background-color:#e1e7e8;
}
.rootbackground{
    -fx-background-color:-fx-base-color-fourth;
}
.shadoweffect{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 20, 0, 0, 0);
}
.greybackground {
    -fx-background-color: #e4e4e4;
    -fx-border-color: #606060; 
    -fx-border-width: 0.5px;
}

.label-title {
    -fx-font-size: 24px;             /* Tamaño de fuente del título */
    -fx-font-weight: bold;           /* Negrita para hacer el título más destacado */
    -fx-text-fill: #2a2a2a;          /* Color del texto */
    -fx-padding: 10px 0;             /* Espaciado arriba y abajo */
    -fx-border-color: transparent;   /* Quita cualquier borde */
    -fx-background-color: transparent;
}

.label-subtitle {
    -fx-font-size: 16px;             /* Tamaño de fuente más pequeño para subtítulos */
    -fx-font-weight: bold;
    -fx-text-fill: #4a4a4a;
    -fx-padding: 8px 0;
}

/*Buttons*/
.button {
    -fx-pref-width: 200px;
    -fx-pref-height: 40px;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-border-color: -fx-base-color-fourth;
    -fx-background-color: -fx-base-color-second;
    -fx-text-fill: -fx-base-color-fifth;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0, 2, 2);
    -fx-transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    -fx-background-color: -fx-base-color-third;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: -fx-base-color-fourth;
}
.button-Save{
  -fx-background-color:#97dcaa;
}
.button-Delete{
    -fx-background-color:#b72c2c;
}
#btnCancel{
    -fx-background-color:#b72c2c;
}
#btnLogIn{
    -fx-background-color:#6c9669;
}
#btnConfirm{
    -fx-background-color:#6c9669;
}
#btnForgotPassword {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: blue;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-underline: true;
    -fx-underline-color: blue;
    -fx-font-weight: normal;
}

#btnAskTemporaryPassword{
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-text-fill: blue;
    -fx-font-size: 14px;
    -fx-padding: 0;
    -fx-underline: true;
    -fx-underline-color: blue;
    -fx-font-weight: normal;
}
#btnSignInUser{
    -fx-background-color:#6c9669;
}
#btnTakePhoto{
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-image: url("../resources/iconCamara.png");
    -fx-background-size: 40px 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.choicebox {
    -fx-pref-height: 30px;
    -fx-background-color: -fx-base-color-second;
    -fx-border-color: -fx-base-color-fourth;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}

.choicebox:hover {
    -fx-background-color: -fx-base-color-third;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: #addecf;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
}

.table-row-cell {
    -fx-alternate-row-fill-visible: true;
    -fx-background-color: transparent;
    -fx-border-color: #b2b7bf; /* Color de borde para las celdas */
    -fx-border-width: 0 0 1px 0;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: #7861c9;
}

.table-row-cell:hover {
    -fx-background-color: #24599c;
}

.table-row-cell.gray {
    -fx-background-color: #959aa3;
}

.table-row-cell.gray:selected {
    -fx-background-color: #3a4252;
    -fx-text-fill: white;
}

.table-row-cell.gray:hover {
    -fx-background-color: #6e737d; /* Color para el hover sobre la fila gris */
}

.table-row-cell.red {
    -fx-background-color: #e61e1e;
}

.table-row-cell.red:selected {
    -fx-background-color: #4a1010;
    -fx-text-fill: white;
}

.table-row-cell.red:hover {
    -fx-background-color: #911313; /* Color para el hover sobre la fila roja */
}

.table-row-cell.yellow {
    -fx-background-color: #e0e314;
}

.table-row-cell.red:selected {
    -fx-background-color: #30230e;
    -fx-text-fill: white;
}

.table-row-cell.yellow:hover {
    -fx-background-color: #946416;
}

.list-view {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-padding: 5px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #2a2a2a;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
}

.list-cell:hover, .list-cell:odd:hover {
    -fx-background-color: #d3e4f7;
}

.list-cell:selected {
    -fx-background-color: #24599c;
}

.list-view:focused .list-cell:selected {
    -fx-background-color: #1e4880;
    -fx-text-fill: white;
}

.list-cell:odd {
    -fx-background-color: #b5c7c5;
}

